* {background-color: #dcc7aa;}

h1 {
  font-size: 3rem;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #6b7a8f;
}

header {

}

body {font-family: 'Ubuntu', sans-serif;
color: #203355;

}

a{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8rem;
  font-weight: 900;
  color: #f7882f;
}
