* {
  background-color: #ed8b64;
}

h1 {
  font-size: 3rem;
  color: #3a4660;
  font-weight: 600;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: #3a4660;
  padding: 20px;
  text-align: center;

}

h3 {
  padding: 20px;
  font-size: 1.5rem;
  color: #3a4660;
}

a {
  background-color: #3a4660;
  color: #c9af98;
  text-decoration: none;
  padding: 15px 20px 15px 20px;
  border: 3px groove #203355;
  border-radius: 10%
}

nav {
  padding: 20px 0 50px 10px;
  width: 18%;
  margin: 20px auto;
}

ol,
ul {
  padding-left: 40px;
  padding-bottom: 20px;
}

a:hover {
  background-color: #68525a;
  border: 3px groove #203355;
  transition-duration: .3s;
}

img {
  width: 50%;
  margin: 1px auto;
  display: block;
  border: 5px solid #203355;
}

ol {
  border-top: 5px solid #203355;
  padding-top: 10px;
}

ol li {
  list-style-type: decimal;
  padding: 5px;
}
